<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-Tronics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--<script  type="text/javascript" src="JS/etronicsCreation.js"></script>-->
    <link href="/CSS/index.css" rel="stylesheet">
</head>

<body>
<div class="container text-center">
  
    <div class="row justify-content-md-center"> 
        <img src="/Images/textLogo.png" alt="Etronics Logo" class="text-logo">
    </div>    

  <div class="row justify-content-md-center"> 
    <nav class="navbar navbar-expand-lg title-container navbar-light bg-light">
        <div class="container" id="navbarNavAltMarkup">
          <div class="navbar-nav" >
            <a class="nav-item nav-link active" href="#">Home</a>
            <a class="nav-item nav-link" href="shop">Shop</a>
            <a class="nav-item nav-link" href="account">Account</a>
            <a class="nav-item nav-link" href="contact">Contact</a>
            <a class="nav-item nav-link" href="login">Log In</a>

            
          </div>
        </div>
    </nav>  
  </div>
</div>

<form action="/signup" method="post">
  <div class="container">
    <div class="row justify-content-md-center top-buffer">
      <p class="text-justify">Please sign up below to begin selling/buying used and new electronics!</p>

    </div>
<<<<<<< HEAD

    <% if (message.length > 0) { %>
      <div class="row justify-content-md-center alert alert-danger"><%= message %></div>
    <% } %>

=======
>>>>>>> f4bcbaca758e5152854a3657da745049569912c7
    <div class="row justify-content-md-center">
      <div class="col-4">
        <div class="form-group">
            <input type="text" class="form-control" name="firstName"  placeholder="First Name">
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-4">
        <div class="form-group">
            <input type="text" class="form-control" name="lastName"  placeholder="Last Name">
        </div>
      </div> 
    </div>

    <div class="row justify-content-md-center">
      <div class="col-4">
        <div class="form-group">
            <input type="email" class="form-control" name="email"  placeholder="Email Address">
        </div>
        </div>
    </div>

<<<<<<< HEAD
    <div class="row justify-content-md-center">
        <div class="col-4">
          <div class="form-group">
              <input type="username" class="form-control" name="userName"  placeholder="Username">
=======
    <div class="row justify-content-md-center">
        <div class="col-4">
          <div class="form-group">
              <input type="text" class="form-control" name="birthdate"  placeholder="Date of Birth">
          </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-4">
          <div class="form-group">
              <input type="username" class="form-control" name="username"  placeholder="Username">
>>>>>>> f4bcbaca758e5152854a3657da745049569912c7
          </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-4">
          <div class="form-group">
              <input type="password" class="form-control" name="password"  placeholder="Password">
          </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <button type="submit" class="btn btn-outline-success">Sign Up!</button>
        <button type="button" class="btn btn-outline-danger left-buffer">Cancel</button>
        <p class="left-buffer top-buffer">OR <a href="login.html">Log In</a></p>

    </div>


  </div>
</form>


<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

</body>
</html>